/*================================================================================
	Item Name: Frest HTML Admin Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
/*.wrap {position:relative;}*/
:root{
    --red:#fc7777;

    --gray_5:#FAFAFA;
    --gray_10:#EDEDED;
    --gray_20:#D5DADA;
    --gray_30:#BFC3C3;
    --gray_40:#97A2A4;
    --gray_60:#7B8587;
    --gray_80:#35393A;
    --gray_100:#181C1D;

    --pr_5:#F3FCFD;
    --pr_10:#E8F9FA;
    --pr_20:#D1F4F6;
    --pr_40:#A2E9EC;
    --pr_60:#74DDE3;
    --pr_80:#5CD8DE;
    --pr_100:#17C7D0;
    --pr_120:#0AB5C4;
    --pr_140:#04A6B5;

    --blue_80:#38C3FF;
    --blue_100:#09B5FF;
    --blue_120:#009DF5;
    --blue_140:#039AEF;

    --green_80:#C1DA4B;
    --green_100:#9AD718;
    --green_120:#89C707;

    --orange_80:#F8BD24;
    --orange_100:#FFA715;
    --orange_120:#FFA004;
}

*{margin:0;padding:0;list-style:none;box-sizing: border-box;}
p {margin:0}
.red_bg{background:var(--red)}

.select_listBox li{padding:12px !important;}

/*로딩*/
.loading{position:fixed;top:0;left:0;width:100%;height:100vh;z-index:999;background:rgba(0,0,0,.2);}
.loading .loadingIcon {position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);}

.loadingIcon div {box-sizing: border-box;display: block;position: absolute;width: 50px;height: 50px;border:8px solid var(--pri_5);border-radius: 50%;animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;border-color: var(--pri_5) transparent transparent transparent;}
.loadingIcon div:nth-child(1) {animation-delay: -0.45s;}
.loadingIcon div:nth-child(2) {animation-delay: -0.3s;}
.loadingIcon div:nth-child(3) {animation-delay: -0.15s;}
@keyframes loading {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

body.fix {overflow:hidden;}
body {font-family: 'Pretendard'}

/*애자일*/
header {height:56px;border-bottom:1px solid var(--gray_10);display:flex;align-items: center;padding:0 20px}
header img {width:71px;margin-right:8px;height:16px;}
header p.logo_title {font-size:16px;display:inline-block;font-weight:700}
.head {display:flex;align-items: center;}
.topHeader {position:fixed;width:180px;height:100vh;box-shadow: 0px 25px 25px -5px rgba(16, 24, 40, 0.10), 0px 8px 10px -6px rgba(0, 0, 0, 0.10);}
.navList {padding-top:24px;}
.navList li{padding:20px 20px;display:flex;align-items: center;cursor:pointer;position:relative;}
.navList li:after {content:'';display:inline-block;width:100%;height:1px;background:var(--gray_10);position:absolute;bottom:0;left:0}
.navList li:last-child:after {display:none;}
.navList li img{width:20px;height:20px;margin-right:16px;}
.navList p {font-size:16px;font-weight:600;color:var(--gray_100)}
.navList li.active:before {content:'';display:inline-block;width:2px;height:calc(100% - 20px);background:var(--pr_140);position:absolute;top:50%;right:0;transform:translateY(-50%);border-top-left-radius: 1px;border-bottom-left-radius: 1px;}
.navList li.active p{color:var(--pr_140)}

.com_gridInner {margin-left:180px;width:calc(100% - 180px);padding:24px 40px;background:var(--gray_5);}
