/*================================================================================
	Item Name: Frest HTML Admin Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
/*.wrap {position:relative;}*/
:root{
    --gray_5:#FAFAFA;
    --gray_10:#EDEDED;
    --gray_20:#D5DADA;
    --gray_30:#BFC3C3;
    --gray_40:#97A2A4;
    --gray_60:#7B8587;
    --gray_80:#35393A;
    --gray_100:#181C1D;

    --pr_5:#F3FCFD;
    --pr_10:#E8F9FA;
    --pr_20:#D1F4F6;
    --pr_40:#A2E9EC;
    --pr_60:#74DDE3;
    --pr_80:#5CD8DE;
    --pr_100:#17C7D0;
    --pr_120:#0AB5C4;
    --pr_140:#04A6B5;

    --blue_80:#38C3FF;
    --blue_100:#09B5FF;
    --blue_120:#009DF5;
    --blue_140:#039AEF;
    --blue_bg:rgba(9,181,255,0.08);

    --green_80:#C1DA4B;
    --green_100:#9AD718;
    --green_120:#89C707;

    --orange_80:#F8BD24;
    --orange_100:#FFA715;
    --orange_120:#FFA004;

    --red:#FF4057;
    --red_bg:rgba(255,64,87,.08);

    /*
       mono 기본 컬러
       //웹 접근성을 고려해 mono_g7~ monob 까지만 텍스트 컬러로 사용, 이때 bg mono_wh/mono_g1 사용가능
   */
    --mono_wh:#ffffff;
    --mono_bg:#fafafa;
    --mono_g1:#f1f1f1;
    --mono_g2:#e0e0e0;
    --mono_g3:#cccccc;
    --mono_g4:#B8B8B8;
    --mono_g5:#a3a3a3;
    --mono_g6:#8f8f8f;
    --mono_g7:#666666;
    --mono_g8:#525252;
    --mono_g9:#282828;
    --mono_b:#121212;

    /*
        primary 기본 컬러
        //웹 접근성을 고려해 흰 텍스트에는 pri_5~ 사용
    */

    --pri_bg:#f3f7ff;
    --pri_1:#c6daff;
    --pri_2:#98b5ff;
    --pri_3:#6c94fe;
    --pri_4:#2b77f1;
    --pri_5:#005ee7;
    --pri_6:#0056dd;
    --pri_7:#004ccf;
    --pri_8:#0041c3;
    --pri_9:#002cab;

    /*secondary 기본 컬러*/
    --sec_bg:#c1f3ff;
    --sec_1:#9fdcea;
    --sec_2:#58a6ba;
    --sec_3:#3a94aa;
    --sec_4:#008097;
    --sec_5:#007186;
    --sec_dark:#00485a;

    /*warning 컬러*/
    --error_bg:#ffe8e8;
    --error_1:#fd8686;
    --error_2:#f05454;
    --error_3:#cf250d;
    --error_4:#b02212;
    --error_5:#76171b;

    --txt_b1:#222222;

    --mono6:#E1E4EA;
}

*{margin:0;padding:0;list-style:none;box-sizing: border-box;}
p {margin:0}
.red_bg{background:var(--red)}

.select_listBox li{padding:12px !important;}

/*로딩*/
.loading{position:fixed;top:0;left:0;width:100%;height:100vh;z-index:999;background:rgba(0,0,0,.2);}
.loading2{position:fixed;top:0;left:0;width:100%;height:100vh;z-index:999;background:rgba(0,0,0,.2);}
.loading .loadingIcon {position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);}
.loading2 .loadingIcon {position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);}

.loadingIcon div {box-sizing: border-box;display: block;position: absolute;width: 50px;height: 50px;border:8px solid var(--pri_5);border-radius: 50%;animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;border-color: var(--pri_5) transparent transparent transparent;}
.loadingIcon div:nth-child(1) {animation-delay: -0.45s;}
.loadingIcon div:nth-child(2) {animation-delay: -0.3s;}
.loadingIcon div:nth-child(3) {animation-delay: -0.15s;}
@keyframes loading {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

body {font-family: 'Pretendard';overflow:hidden;}
button, li, p, span, select, input, option{font-family: 'Pretendard';}
p, ul{margin:0}
.flex{display:flex;align-items: center;}
.flex_between{justify-content: space-between}
.flex_around{justify-content: space-around}
.at_T {align-items: start}

/*애자일*/
header {height:56px;border-bottom:1px solid var(--gray_10);display:flex;align-items: center;padding:0 20px}
header img {width:71px;margin-right:8px;height:16px;cursor:pointer;}
header p.logo_title {font-size:16px;display:inline-block;font-weight:700;cursor:pointer;}
.head {display:flex;align-items: center;}
.topHeader {position:fixed;width:90px;height:100vh;box-shadow: 0px 25px 25px -5px rgba(16, 24, 40, 0.10), 0px 8px 10px -6px rgba(0, 0, 0, 0.10);z-index:99}
.navList {margin:0;padding-left:0}
.navList li{padding:0;height:112px;cursor:pointer;position:relative;text-align:center;display:flex;align-items: center;justify-content: center;}
.navList li:after {content:'';display:inline-block;width:100%;height:1px;background:var(--gray_10);position:absolute;bottom:0;left:0}
.navList li img{width:20px;height:20px;margin-bottom:6px;}
.navList p {font-size:14px;font-weight:600;color:var(--gray_60);line-height: 140%}
.navList li.active p{color:var(--mono_wh)}
.navList li.active{background:var(--pr_120);}

.com_gridInner {margin-left:90px;width:calc(100% - 90px);padding:0;background:var(--gray_5);height:100vh;overflow:hidden;}
.com_gridInner::-webkit-scrollbar{display:none;}
.right_box {width:372px;overflow-y:scroll;padding:24px 10px;height:calc(100vh - 60px);background:var(--mono_wh);margin-left:3px;border-left:1px solid var(--gray_10)}
.right_box::-webkit-scrollbar{width:4px;}
.right_box::-webkit-scrollbar-thumb{width:4px;border-radius:8px;background:var(--gray_30);opacity: .3}
.left_box {width:calc(100% - 372px);padding:24px 85px;overflow-y:scroll;height:calc(100vh - 57px)}
.left_box::-webkit-scrollbar{width:4px;}
.left_box::-webkit-scrollbar-thumb{width:4px;border-radius:8px;background:var(--gray_30)}
.leftTitleBox div{font-size:18px;font-weight:600;color:var(--gray_100);margin:0 8px;padding:0 8px;position:relative;}
.leftTitleBox div:first-child{margin-left:0;padding-left:0}
.leftTitleBox div:after{content:'';display:inline-block;width:1px;height:16px;background:var(--gray_20);position:absolute;top:50%;right:-8px;transform:translateY(-50%);}
.leftTitleBox div:last-child:after{display:none;}
.left_top_box {justify-content: space-between;margin-bottom:24px;}
.leftTopInner {display:flex;margin-bottom:5px;}
.type_nmImg {margin-right:16px;}
.left_top_box div#setDateInfo{font-size:14px;font-weight:600;color:var(--gray_60);margin-right:8px;}
.left_top_box div#setDateInfo2{font-size:14px;font-weight:400;color:var(--gray_60)}

select{height:36px;border:1px solid var(--gray_20);border-radius:4px;min-width:120px;color:var(--gray_100);font-weight:500;cursor:pointer;position:relative;background:url('/eatout/assets/eatout/images/icon/g_arrow_line.svg') no-repeat center right 8px / 16px 16px;-webkit-appearance:none; /* 크롬 화살표 없애기 */-moz-appearance:none; /* 파이어폭스 화살표 없애기 */appearance:none /* 화살표 없애기 */}
select:focus {outline:1px solid var(--pr_120);border:1px solid var(--pr_120);background:var(--mono_wh) url('/eatout/assets/eatout/images/icon/bk_arrow_line.svg') no-repeat center right 8px / 16px 16px;}
select:hover {background:var(--gray_5) url('/eatout/assets/eatout/images/icon/bk_arrow_line.svg') no-repeat center right 8px / 16px 16px}
select:disabled{background:var(--gray_5)  url('/eatout/assets/eatout/images/icon/g_arrow_line.svg') no-repeat center right 8px / 16px 16px;;pointer-events: none;}


.redText {padding:4px 8px;border-radius:17px;font-size:14px;font-weight:600;display:flex;align-items: center;}
.redText span {display:inline-block;margin:0 2px 0 4px;}
.redText.up {background:var(--red_bg);color:var(--red);}
.redText.down {background:var(--blue_bg);color:var(--blue_120);}
.redText .img{width:16px;height:16px;padding:0}
.redText.up .img{background:url('/eatout/assets/eatout/images/icon/red_arrow.svg') no-repeat center center / 16px 16px; }
.redText.down .img{background:url('/eatout/assets/eatout/images/icon/bu_arrow.svg') no-repeat center center / 16px 16px}

.left_g_box {background:var(--mono_wh);border-top:1px solid var(--gray_10);}
.left_g_box .flex > div.col-2 {padding:14px 24px;border-bottom:1px dashed var(--gray_10);border-right:1px dashed var(--gray_10);display:flex;align-items: center;min-height:65px;}
.left_g_box .flex > div.col-2.st_box03{border-right:0}
.bd_r0{border-right:0 !important}
.left_g_box select{padding:6px 8px;}
.left_g_box select option{}
.selectText {font-size:14px;font-weight:600;color:var(--gray_60);display:inline-block;width:64px;}
.st_box01{width:300px;}
.st_box02{width:510px}
.st_box03{width:calc(100% - 790px)}
.st_box04{border-bottom:0 !important;width:600px}
.st_box05 {display:flex;align-items: center;border-bottom:0 !important;}
.st_box05_wi {width:calc(100% - 600px);border-bottom:0 !important}
.st_box06{}
.st_box06 button {width:100px;height:36px;border:0;background:var(--gray_100);border-radius: 8px;color:var(--mono_wh);font-weight:600;font-size:16px;padding-right:20px;position:relative;cursor:pointer;margin-left:16px}
.st_box06 button:hover{background:var(--gray_80)}
.st_box06 button:after {content:'';display:inline-block;width:16px;height:16px;position:absolute;top:50%;right:calc(50% - 36px);transform:translate(-50%,-50%);background:url('/eatout/assets/eatout/images/icon/search_wh.svg') no-repeat center center / 16px 16px;}
.selectWrap{width:calc(100% - 64px)}
.st_box01 select{width:100%}
.st_box02 select, .st_box03 select, .st_box04 select{width:calc(100% / 3 - 4px)}
.st_box05 select{width:calc(100% - 116px)}

.chart {width:100%;height:320px;}
.chart_box {background:var(--mono_wh);border-top:1px solid var(--gray_10)}
.chart_text {font-size:12px;font-weight:400;color:var(--mono_g6);padding:8px 24px;text-align:right;display:block;}
.bt0 {border-top:0 !important}
.clickBtn {width:100%;padding:20px 0;text-align:center;border:1px solid var(--gray_20);margin-top:24px;border-radius:8px;font-size:16px;font-weight:600;color:var(--gray_80);display:flex;justify-content: center;align-items: center;cursor:pointer;}
.clickBtn button{width:18px;height:18px;border:0;background:transparent;margin-left:8px;background:url('/eatout/assets/eatout/images/icon/bk_arrow.svg') no-repeat;}
.clickBtn:hover {border:1px solid var(--pr_80);color:var(--pr_120)}
.clickBtn:hover button {background:url('/eatout/assets/eatout/images/icon/mt_arrow.svg') no-repeat;}
.topRightTextBox .txt_n_sb {font-size:14px;font-weight:600;margin-bottom:10px;display:flex;align-items: center;}
.topRightTextBox .txt_n_sb img {margin-right:4px;}
.topRightTextBox .txt_n_sb.tr_up {color:var(--red)}
.topRightTextBox .txt_n_sb.tr_dw {color:var(--blue_100)}
.topRightTextBox span {margin-right:8px;font-weight:500;color:var(--gray_100)}
.topRightTextBox span.trt_txt {color:var(--gray_60);}
.topRightTextBox span:nth-child(2){margin-right:16px;}
.topRightTextBox span:last-child {margin-right:0}
.topRightTextBox .col-12:first-child {margin-right:16px;border-right:1px solid var(--gray_10);padding-right:16px;}


.rightTit {padding:0 10px 20px 10px;display:flex;align-items: center;font-size:18px;font-weight:600;color:var(--gray_100);}
.rightTit img {margin-right:8px;}
table {border-collapse : collapse;margin:0 !important;width:100%}
.cpTable th {font-size:14px;font-weight:600;line-height:140%;text-align:left;border-bottom:1px solid var(--gray_10);border-right:1px solid var(--gray_10);padding:8px 10px;pointer-events: none;}
.cpTable th:last-child {border-right:0}
.cpTable th span {color:var(--gray_60);font-size:12px;font-weight:500}
.cpTable tr {cursor:pointer;}
.cpTable td {padding:12px 10px;border-bottom:1px dashed var(--gray_10);font-size:14px;font-weight:500;color:var(--gray_80)}
.cpTable td.up_p {color:var(--red)}
.cpTable td.down_p {color:var(--blue_100)}
.cpTable tr.active {background:var(--gray_5)}
.cpTable tr.active td:first-child{color:var(--pr_140);text-decoration: underline; text-underline-position : under;}
.cpTable tr.active td:first-child span{position:relative;}
.cpTable tr.active td:first-child span:after {content:'';display:inline-block;width:16px;height:16px;position:absolute;top:50%;right:-20px;transform:translateY(-50%);background:url('/eatout/assets/eatout/images/icon/search_mt.svg') no-repeat center center / 16px 16px;}
.cpTable tr:last-child td{border-bottom:0}

/*시장동향*/
.com_gridInner.market .left_box {padding:0}
.com_titleT {font-size:18px;font-weight:600;color:var(--gray_100);display:flex;align-items: center;margin-bottom:20px;}
.com_titleT img {margin-right:8px;}
.left_slide {padding:24px 85px;background:var(--mono_wh);position:relative;}
#tableList {padding:24px 85px;height:auto;overflow:hidden;}
.tabTit {margin-bottom:40px}

input[type="radio"]{display:none;}
input[type="radio"] + label{display: inline-block;position: relative;overflow:hidden;text-align:center;border-right:1px solid var(--gray_10);cursor:pointer;}
input[type="radio"] + label:last-child {border-right:0}
input[type="radio"] + label:before {content:'';width: 100%;height: 100%;background:#F6F6F6;position:absolute;top:0;left:0;}
input[type="radio"]:checked + label::after{content:'';position: absolute;left:0;top:0;width:100%;height:38px;background:var(--mono_wh);}
input[type="radio"] + label span {display:flex;position:relative;z-index: 9;padding:8px 16px;font-size:16px;font-weight:500;color:var(--gray_60);align-items:center;}
input[type="radio"]:checked + label span {color:var(--pr_140);font-weight:600;}
input[type="radio"] + label span img {margin-right:8px}
.radioWrap {border:1px solid var(--gray_10);border-radius:6px;overflow:hidden;}
#orderChk {margin-left:16px;}
#dateChk {margin-left:auto;}
#dateChk input[type="radio"] + label span{width:80px;display:inline-block;text-align:center;}
.tab_text {font-size:20px;font-weight:600;color:var(--gray_100);padding:8px 16px;display:inline-block;}
.tab_text.active {border-bottom:2px solid var(--gray_100)}

#admiUpjongInfo div.col-4.border.border-4 {width:calc(100% / 3 - 16px);float:left;margin-right:24px;background:var(--mono_wh);border-top:1px solid var(--gray_10);padding:24px 20px;margin-top:24px;}
#admiUpjongInfo div.col-4.border.border-4:nth-child(3n){margin-right:0}
#admiUpjongInfo div.col-4.border.border-4:nth-child(3n+1){clear:both;}
#admiUpjongInfo div.col-4.border.border-4 table tr:first-child th{font-size:18px;text-align:left;font-weight:600;padding-bottom:16px;}
#admiUpjongInfo div.col-4.border.border-4 table tr:nth-child(2) th {font-size:16px;font-weight:600;color:var(--gray_80);padding:8px;border-bottom:1px solid var(--gray_10)}
#admiUpjongInfo div.col-4.border.border-4 table td{padding:12px 0;text-align:center;}
#admiUpjongInfo div.col-4.border.border-4 table tr:nth-child(1) td:first-child, #admiUpjongInfo div.col-4.border.border-4 table tr:nth-child(2) td:first-child, #admiUpjongInfo div.col-4.border.border-4 table tr:nth-child(3) td:first-child{color:var(--pr_120);font-weight:700}
#admiUpjongInfo td.up span {color:var(--red);position:relative;display:inline-block;}
#admiUpjongInfo td.down span {color:var(--blue_120);position:relative;display:inline-block;}
#admiUpjongInfo td.up span:after{content:'';display:inline-block;width:14px;height:14px;background:url('/eatout/assets/eatout/images/icon/red_arrow.svg') no-repeat center center / 14px 14px;position:absolute;top:50%;left:-16px;transform:translateY(-50%)}
#admiUpjongInfo td.down span:after{content:'';display:inline-block;width:14px;height:14px;background:url('/eatout/assets/eatout/images/icon/mt_arrow.svg') no-repeat center center / 14px 14px;position:absolute;top:49%;left:-16px;transform:translateY(-50%)}



.market .right_box {position:fixed;top:56px;right:0;padding:0;background:transparent;overflow:hidden;}
.market .right_box .row.flex .com_titleT{margin-bottom:0}
.font12Radio {margin-left:auto;}
.font12Radio input[type="radio"] + label span{padding:4px;}
.font12Radio #dateChk_2 input[type="radio"] + label span{font-size:12px;width:44px;display:inline-block;text-align:center;}
.mk_right_tit {margin-bottom:20px;}
#upjongGrowth tr{border-bottom:1px dashed var(--gray_10)}
#upjongGrowth tr:last-child{border-bottom:0}
#upjongGrowth td{padding:12px 0;font-size:14px;}
#upjongGrowth tr td:nth-child(1){width:10%;text-align:center;font-weight:600;color:var(--gray_80)}
#upjongGrowth tr td:nth-child(2){padding-left:10px}
#upjongGrowth tr:nth-child(1) td:nth-child(1), #upjongGrowth tr:nth-child(2) td:nth-child(1), #upjongGrowth tr:nth-child(3) td:nth-child(1){font-size:1px;color:var(--mono_wh);position:relative;}
#upjongGrowth tr:nth-child(1) td:nth-child(1):after{content:'';display:inline-block;width:24px;height:24px;background:url('/eatout/assets/eatout/images/icon/Rank01.svg') no-repeat center center / 24px 24px;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)}
#upjongGrowth tr:nth-child(2) td:nth-child(1):after{content:'';display:inline-block;width:24px;height:24px;background:url('/eatout/assets/eatout/images/icon/Rank02.svg') no-repeat center center / 24px 24px;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)}
#upjongGrowth tr:nth-child(3) td:nth-child(1):after{content:'';display:inline-block;width:24px;height:24px;background:url('/eatout/assets/eatout/images/icon/Rank03.svg') no-repeat center center / 24px 24px;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)}
#upjongGrowth tr td button {background:transparent;border:0;font-size:14px;cursor:pointer;}
#upjongGrowth tr td button:hover {color:var(--pr_120)}
#upjongGrowth td.up span {color:var(--red);position:relative;display:inline-block;}
#upjongGrowth td.down span {color:var(--blue_120);position:relative;display:inline-block;}
#upjongGrowth td.up span:after{content:'';display:inline-block;width:14px;height:14px;background:url('/eatout/assets/eatout/images/icon/red_arrow.svg') no-repeat center center / 14px 14px;position:absolute;top:50%;left:-16px;transform:translateY(-50%)}
#upjongGrowth td.down span:after{content:'';display:inline-block;width:14px;height:14px;background:url('/eatout/assets/eatout/images/icon/mt_arrow.svg') no-repeat center center / 14px 14px;position:absolute;top:49%;left:-16px;transform:translateY(-50%)}

.rightInner {background:var(--mono_wh);padding:24px 10px;margin-bottom:9px;}
#tfileList tr {border-bottom:1px dashed var(--gray_10);cursor:pointer;}
#tfileList td:first-child{width:10%;text-align:center;}
#tfileList td:nth-child(2){width:66%}
#tfileList td{padding:8px 0;font-size:14px;display:inline-flex;align-items: center;}
#tfileList td:last-child p{overflow: hidden;white-space: nowrap;word-break: break-all;display:inline-block;width:80px;line-height:100%;color:var(--gray_60)}
#paginate_filelist {padding:16px 0}
#paginate_filelist ul {display:flex;justify-content: center}
#paginate_filelist li {margin-right:4px;width:20px;height:20px;text-align:center;}
#paginate_filelist li:last-child {margin-right:0;}
#paginate_filelist li.on a{color:var(--pr_120)}
#paginate_filelist li a{font-size:14px;font-weight:500;color:var(--gray_60);text-decoration: none;width:20px;height:20px;display:inline-block;}
#paginate_filelist #list_info_first {margin-right:8px;}
#paginate_filelist #list_info_first a{background:url('/eatout/assets/eatout/images/icon/paginate_arrow01.svg') no-repeat center center / 12px 12px;border-radius:50%;box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.08);}
#paginate_filelist #list_info_previous {margin-right:8px;}
#paginate_filelist #list_info_previous a{background:url('/eatout/assets/eatout/images/icon/paginate_arrow02.svg') no-repeat center center / 12px 12px;border-radius:50%;box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.08);}
#paginate_filelist #list_info_next {margin-right:8px;}
#paginate_filelist #list_info_next a{background:url('/eatout/assets/eatout/images/icon/paginate_arrow02.svg') no-repeat center center / 12px 12px;transform:rotate(180deg);border-radius:50%;box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.08);}
#paginate_filelist #list_info_last {margin-right:8px;}
#paginate_filelist #list_info_last a{background:url('/eatout/assets/eatout/images/icon/paginate_arrow01.svg') no-repeat center center / 12px 12px;transform:rotate(180deg);border-radius:50%;box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.08);}

#tfileList .icon_show{position:relative;display:inline-block;}
#tfileList tr.active {background:var(--gray_5)}
#tfileList tr.active .icon_show a{text-decoration: underline; text-underline-position : under;}
#tfileList tr.active .icon_show:after{content:'';display:inline-block;width:20px;height:20px;position:absolute;top:50%;right:-24px;transform:translateY(-50%);background:var(--mono_wh) url('/eatout/assets/eatout/images/icon/pdf_file_bk.svg') no-repeat center center / 16px 16px;border-radius:4px;box-shadow: 0px 1px 2px -1px rgba(16, 24, 40, 0.10), 0px 1px 3px 0px rgba(0, 0, 0, 0.10);}
.rt_bottomBox {height:100%}

.swiper {width: 100%;height: 100%;margin-left: auto;margin-right: auto;}
.swiper-slide {text-align:left;background: #fff;height: calc((100% - 24px) / 2) !important;display: flex;justify-content: center;align-items: center;padding:20px;border:1px solid var(--gray_10);border-radius:16px;cursor:pointer;}
.swiper-slide:hover:before {content:'';display:inline-block;width:100%;height:100%;background:rgba(0,0,0,.1);position:absolute;top:0;left:0;z-index:99;border-radius:16px;}
.swiper-slide:hover:after {content:'';display:inline-block;width:40px;height:40px;border-radius:8px;background:var(--mono_wh) url('/eatout/assets/eatout/images/icon/search_bk.svg') no-repeat center center / 16px 16px;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);z-index:999;box-shadow: 0px 1px 2px -1px rgba(16, 24, 40, 0.10), 0px 1px 3px 0px rgba(0, 0, 0, 0.10);}
.slideBox {width:100%;height:375px;}
.slideTit {font-size:18px;font-weight:600;color:var(--gray_100);margin-bottom:20px;padding-bottom:20px;border-bottom:1px solid var(--gray_10)}
.slide_txt01 {font-size:14px;font-weight:400;margin-bottom:8px;color:var(--mono_g7)}
.slide_txt02 {font-size:18px;font-weight:600;}
.slide_txt03 {font-size:14px;font-weight:600;display:inline-block;padding:2px 26px 2px 8px;border-radius:17px;}

.slide_flex {display:flex;justify-content: space-between;}
.slide_flex.up_p .slide_txt02{color:var(--red)}
.slide_flex.up_p .slide_txt03{background:var(--red_bg);color:var(--red);position:relative;}
.slide_flex.up_p .slide_txt03:after {content:'';display:inline-block;position:absolute;top:50%;right:8px;transform:translateY(-50%);width:16px;height:16px;background:url('/eatout/assets/eatout/images/icon/red_arrow.svg') no-repeat center center / 16px 16px}
.slide_flex.down_p .slide_txt02{color:var(--blue_120)}
.slide_flex.down_p .slide_txt03{background:var(--blue_bg);color:var(--blue_120);position:relative;}
.slide_flex.down_p .slide_txt03:after {content:'';display:inline-block;position:absolute;top:50%;right:8px;transform:translateY(-50%);width:16px;height:16px;background:url('/eatout/assets/eatout/images/icon/mt_arrow.svg') no-repeat center center / 16px 16px}
.mySwiper {padding-top:41px !important;position:relative}
.mySwiper div.swiper-button-next {width:32px !important;height:32px !important;border-radius:50% !important;box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.08) !important;background:var(--mono_wh) !important;overflow:hidden;display:inline-block;z-index:9999;top:22px;right:0px;left:auto;}
.mySwiper div.swiper-button-next:after {content:'';display:inline-block;width:16px;height:16px;background:url('/eatout/assets/eatout/images/icon/bk_arrow_line.svg') no-repeat center center / 16px 16px;transform:translate(-50%,-50%) rotate(-90deg);position:absolute;top:50%;left:50%}
.mySwiper div.swiper-button-prev {width:32px !important;height:32px !important;border-radius:50% !important;box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.08) !important;background:var(--mono_wh) !important;overflow:hidden;display:inline-block;z-index:9999;top:22px;right:121px;left:auto;}
.mySwiper div.swiper-button-prev:after {content:'';display:inline-block;width:16px;height:16px;background:url('/eatout/assets/eatout/images/icon/bk_arrow_line.svg') no-repeat center center / 16px 16px;transform:translate(-50%,-50%) rotate(90deg);position:absolute;top:50%;left:50%}
.mySwiper .swiper-pagination-fraction {width:auto;min-width: 58px;right:48px;left:auto;display:inline-block;top:6px;color:var(--gray_40)}
.mySwiper .swiper-pagination-fraction span {font-size:18px;font-family: 'Pretendard';font-weight:600;color:var(--gray_40)}
.mySwiper .swiper-pagination-current {color:var(--gray_100) !important}

.slide_titleText {position:absolute;top:24px;left:40px;}

#chartList {position:fixed;top:50%;left:50%;transform:translate(-50%,-50%);width:1288px;height:90vh;z-index:999;background:var(--mono_wh);border:2px solid var(--pr_100);border-radius:32px;overflow:hidden;display:none;}
#chartList.active {display:inline-block;}
.popupBox {display:flex;align-items: center;}
.popupBox > div {width:calc(100% / 2);padding:32px 32px 0 32px }
.popupBox:first-child > div {border-bottom:1px dashed var(--gray_10);}
.popupBox > div:first-child {border-right:1px dashed var(--gray_10)}
.popupChart {width:100%;height:270px;}
#chartTitle {font-size:18px;font-weight:600;text-align:center;color:var(--gray_100);padding:22px 0;border-bottom:1px solid var(--gray_10);margin-bottom:24px;}
.popupBtn {position:absolute;top:15px;right:20px;display:flex;justify-content: center;align-items: center;}
.popupBtn > div {width:36px;height:36px;margin-left:16px;cursor:pointer;}
.popupBtn > div:first-child {position:relative;}

.popupInner {padding:0 20px 32px 20px;}
.popupChart_tit {font-size:18px;font-weight:700;color:var(--gray_100);display:flex;align-items: center;margin-bottom:16px;}
.popupChart_tit img{margin-right:6px;width:16px;height:16px;}
.popup_sTxt{font-size:11px;text-align:right;color:var(--gray_60);display:inline-block;width:100%;}
.bk_bg {display:none;background:rgba(0,0,0,.1);width:100%;height:100vh;position:fixed;top:0;left:0;z-index:99}
.bk_bg.active {display:block;}
.bk_bg.on_hide {display:none;}

#chartList.on_hide .popupInner {display:none;}
#chartList.on_hide{height:auto;padding:18px 88px 18px 42px;width:auto;top:auto;bottom:40px;left:auto;right:412px;transform:none;}
#chartList.on_hide .popupBtn > div {width:24px;height:24px;margin-left:8px;}
#chartList.on_hide .popup_hide {width:14px !important;height:14px !important;}
#chartList.on_hide .popup_hide img {width:14px !important;height:14px !important;}
#chartList.on_hide .popupBtn > div img {width:24px;height:24px;}

#chartList.on_hide #chartTitle {font-size:16px;padding:0;margin-bottom:0;border-bottom:0;position:relative;}
#chartList.on_hide #chartTitle:after {content:'';display:inline-block;width:18px;height:18px;background:url('/eatout/assets/eatout/images/icon/popup_icon.svg') no-repeat center center / 18px 18px;position:absolute;top:50%;left:-24px;transform:translateY(-50%)}

.login_page {width:100%;height:100vh;background:var(--gray_5);position:relative;}
.login_page .login_box {display:inline-block;min-width:640px;padding:40px;border-radius:8px;background:var(--mono_wh);position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);box-shadow: 0px 25px 25px -5px rgba(16, 24, 40, 0.05), 0px 8px 10px -6px rgba(0, 0, 0, 0.05)}
.login_page .login_tit {font-size:22px;font-weight:700;color:var(--pr_140);text-align:center;margin-bottom:40px}
.login_page .login_pw {color:var(--gray_60);display: flex;justify-content: space-between;align-items: center;font-size:16px;}
.login_page .login_pw input{color:var(--gray_100);height:40px;border:1px solid var(--gray_10);width:calc(100% - 80px);padding:0 10px;font-size:14px;}
.login_page .login_pw input::placeholder{color:var(--gray_30)}
.login_page .login_btn button{width:100%;height:40px;text-align:center;border:1px solid var(--pr_120);background:var(--mono_wh);margin-top:40px;border-radius:8px;color:var(--pr_140);font-size:16px;font-weight:600;cursor:pointer;}
.login_page .login_btn button:hover {background:var(--pr_120);color:var(--mono_wh)}

.main_wrap {background:var(--gray_5)}
.main_layout {width:1280px;margin:0 auto;height:100vh;padding:60px 0}
.myLayout {background:var(--mono_wh);padding:70px;height:100%;border-radius:8px}
.main_layout .board_tb {text-align: center;border-top:2px solid var(--gray_20);}
.main_layout .board_tb th, .main_layout .board_tb td{padding:12px 0;border-bottom:1px solid var(--gray_10);font-size:16px;}
.main_layout .board_tb th{color:var(--gray_80)}
.main_layout .board_tb td:nth-child(2){color:var(--gray_60)}
.myL_Table {height:550px;margin-bottom:50px;}
.myLayout #uploadFile, .modal0913 #closeBtn {padding:8px 24px;font-size:16px;font-weight:600;border-radius:8px;background:var(--gray_100);border:0;color:var(--mono_wh);cursor:pointer;margin-right:8px}
.myLayout #uploadFile:hover, .modal0913 #closeBtn:hover{background:var(--gray_80)}
.myLayout #deleteFile {padding:8px 24px;font-size:16px;font-weight:600;border-radius:8px;background:var(--red);border:0;color:var(--mono_wh);cursor:pointer;}
.tar {text-align:right;}
.flexRight {justify-content: end}
.modal0913 .modal_body {text-align: left;height:auto;}
.text0913_01 {font-size:20px;font-weight:600;text-align:center;margin-bottom:20px;}
.modal0913 #fileInfoTxt {width:100%;height:50px;padding:0 10px; border:1px solid var(--gray_10);border-radius:8px;}
.text0913_02 {font-size:15px;font-weight:400;color:var(--gray_60);margin-bottom:10px;}
.modal0913 #uploadfiles {margin-bottom:20px;border-radius:8px;}
.modal0913 input[type="file"] {border:1px solid var(--gray_10);padding:6px 4px 6px 10px;border-radius:8px;width:100%;color:var(--gray_80);line-height:35px;}
.modal0913 input[type=file]::file-selector-button{background:var(--gray_30);border:0;border-radius:8px;color:var(--mono_wh);padding:8px 12px;margin-left:8px;float:right;margin-right:2px;font-weight:600}
.modal0913 #uploadBtn{padding:8px 24px;font-size:16px;font-weight:600;border-radius:8px;background:var(--pr_120);border:0;color:var(--mono_wh);cursor:pointer;margin-right:8px}
.w50_0913 {margin-top:40px}
.w50_0913 div{width:calc(100% / 2 - 20px);margin:0 10px;}
.w50_0913 div input {width:100%}

/*창업 비용 계산기*/
.calc_container {overflow-y:scroll;height:calc(100vh - 56px)}
.calc_container::-webkit-scrollbar{display:none;}
.calcBox {padding:24px 270px 80px 270px;margin:0 auto;}
.calcTit {font-size:18px;font-weight:600;color:var(--gray_100);margin-bottom:10px;}
.calc_sText{font-size:16px;font-weight:400;color:var(--gray_80)}
.calc_content {margin-top:24px;border:1px solid var(--gray_10);}
.calc_com_tab {padding:32px 24px;display:flex;align-items: center;position:relative;cursor:pointer;}
.calc_com_tab:after {content:'';background:url('/eatout/assets/eatout/images/icon/bk_arrow_line.svg') no-repeat center center / 24px 24px;position:absolute;top:50%;right:24px;transform:translateY(-50%);width:24px;height:24px;}
.calc_content.disabled{pointer-events: none;}
.calc_content.disabled .calc_com_tab:after {content:'';background:url('/eatout/assets/eatout/images/icon/g_arrow_line.svg') no-repeat center center / 24px 24px;opacity: .6}
.calc_com_tab img {width:24px;height:24px;margin-right:16px;}
.calc_com_tab p {font-size:18px;color:var(--gray_100);font-weight:600}
.calc_content.disabled p {color:var(--gray_30);}
.calc_content.disabled img{opacity: .2}
.calc_tab01 {background:var(--mono_wh);}
.calc_tab02 {background:var(--mono_wh);}
.calc_content.disabled .calc_tab02 {background:transparent;}
.calc_fb_text {display:flex;justify-content: center;align-items: center;margin-top:24px;padding:24px 0}
.calc_fb_text img {width:24px;height:24px;margin-right:8px;}
.calc_fb_text p {font-size:16px;font-weight:400;color:var(--gray_60)}

.calc_inner {display:none;}
.calc_content.active{border-left:2px solid var(--pr_100)}
.calc_content.active .calc_com_tab {}
.calc_content.active .calc_com_tab:after {content:'';background:url('/eatout/assets/eatout/images/icon/g_arrow_line.svg') no-repeat center center / 24px 24px;position:absolute;transform:translateY(-50%) rotate(180deg);}
.calc_content.active .calc_com_tab p {color:var(--pr_120)}
.calc_content.active .calc_inner {display:block;padding:20px 0;background:var(--mono_wh);}

.calc_inner .calc_in_tit01 {font-size: 18px;font-weight: 600;color:var(--gray_100);margin-bottom:16px;}
.calc_inner .calc_in_tit02 {font-size: 16px;font-weight: 600;color:var(--gray_80);margin-bottom:16px;}
.calc_inner .w4_table {border-top:1px solid var(--gray_10); border-bottom:1px solid var(--gray_10);text-align:left;}
.calc_inner .w4_table th, .calc_inner .w4_table td{padding:16px 20px;}
.calc_inner .w4_table th {font-size:16px;font-weight:500;color:var(--gray_80);width:210px;}
.calc_inner .w4_table td{display:flex;align-items: center;border-right:1px dashed var(--gray_10);width:354px;}
.calc_inner .w4_table td:last-child {border-right:0}
.calc_inner .w4_table tr{border-bottom:1px dashed var(--gray_10);}
.calc_inner .w4_table tr:last-child{border-bottom:0}
.calc_inner .w4_table .calc_input {width:120px;height:32px;border:1px solid var(--gray_20);border-radius:4px;margin-right:8px;padding:0 8px;color:var(--gray_80);text-align:right;}
.calc_inner .w4_table .calc_input::placeholder{color:var(--gray_60)}
.calc_inner .w4_table .calc_input.disabled {background:var(--gray_5);pointer-events: none}
.calc_inner .w4_table td span {font-size:14px;font-weight:400;margin-right:16px;white-space: nowrap}
.calc_inner .w4_table th span {font-size:12px;font-weight:400;color:var(--gray_60);display:block;line-height:140%}
.calc_inner_cont {margin-bottom:64px;padding:0 40px}
.g4_col {color:var(--gray_40)}
.calc_btnBox {padding:24px 40px 0 40px;display:flex;justify-content: space-between;align-items: center;box-shadow: 0px -2px 4px 0px rgba(16, 24, 40, 0.04);}
.calc_btnBox button {height:56px;border-radius:8px;font-size:16px;font-weight:700;margin-left:24px;cursor:pointer;min-width:88px}
.calc_btnBox button:first-child{margin-left:0}
.calc_btnBox button.wh_btn{border:1px solid var(--gray_30);background:var(--mono_wh);padding:0 24px;}
.calc_btnBox button.wh_btn:hover{background:var(--gray_5);}
.calc_btnBox button.bk_btn{border:1px solid transparent;background:var(--gray_100);padding:0 90px;color:var(--mono_wh)}
.calc_btnBox button.bk_btn:hover{background:var(--gray_80);}
.calc_btnBox button.pr_btn{border:1px solid transparent;background:var(--pr_120);padding:0 90px;color:var(--mono_wh)}
.calc_btnBox button.pr_btn:hover{background:var(--pr_140);}

/*수익성 시뮬레이션*/
.calc_section02.active .calc_tab02 {background:var(--mono_wh)}
.calc02_gBox {padding:24px;border:1px solid var(--gray_10)}
.calc02_gBox .flex{display:flex;justify-content: center;align-items: start;}
.calc02_gBox .flex > div {width:calc(100% / 2);}
.calc02_gBox .flex > div:first-child{border-right:1px dashed var(--gray_10);padding-right:24px;}
.calc02_gBox .flex > div:last-child{padding-left:24px;}
.calc02_gBox .calc_in_tit02{display:flex;justify-content: space-between;align-items: center;}
.calc02_gBox .calc_in_tit02 span {font-size:16px;font-weight:500;color:var(--gray_60)}
.calc02_gBox .calc_in_tit02 span span {color:var(--pr_120)}
.calc02_ul{margin-top:24px;height:auto;overflow:hidden;}
.calc02_ul li:first-child{border-top:1px solid var(--gray_10)}
.calc02_ul li {border-top:1px dashed var(--gray_10);font-size:16px;color:var(--gray_60);font-weight:500;display:flex;justify-content: space-between;align-items: center;padding:10px 20px;}
.calc02_ul li span {color:var(--gray_100)}
.calc02_gBox .mt40 {margin-top:40px;}
.pr_table {text-align:center;}
.pr_table tr {}
.pr_table th {background:var(--pr_5);color:var(--pr_140);padding:20px;font-size:16px;font-weight:500;border-top:1px solid var(--pr_100);line-height:140%}
.pr_table td {padding:20px;border-top:1px solid var(--gray_10);color:var(--gray_60);font-size: 16px;font-weight: 500;}
.pr_table .bk_col {color:var(--gray_80)}
.pr_table .pr_col {color:var(--pr_120);font-weight:700}
.mb64 {margin-bottom:64px;}
.calc_in_tit03 {font-size: 16px;font-weight: 400;color:var(--gray_80);line-height:140%}
.calc_in_tit03 span {font-weight: 500;color:var(--pr_120)}
.w3_gBox {display:flex;justify-content: space-around;align-items: center;margin:24px 0;}
.w3_gBox > div {width:calc(100% / 3);margin:0 12px;border:1px solid var(--gray_10);text-align:center;padding:24px 0}
.w3_gBox > div:first-child{margin-left:0}
.w3_gBox > div:last-child{margin-right:0}
.w3_gBox > div p {font-size:16px;font-weight:500;color:var(--gray_60);}
.w3_gBox > div p:first-child {margin-bottom:4px;font-weight:400}
.w3_gBox > div p span {font-size:24px;font-weight:600;color:var(--gray_100)}
.pr_table.prt_v2 td{color:var(--gray_80)}
.pr_table.prt_v2 td:first-child{text-align:left;}
.pr_table.prt_v2 td span {color:var(--gray_60);font-size:14px;display:block;font-weight:500;line-height:140%}

/*수정 1120*/

.reTop1120 {display:flex;align-items: start;}
.reTop1120 .col-12:first-child{margin-right:24px;padding-right:24px;border-right:1px solid #EDEDED}

.topRightTextBox .reTop1120 #maxYyyymm, .line1120_red{position:relative;}
.topRightTextBox .reTop1120 #maxYyyymm:after, .line1120_red:after {content:'';display:inline-block;width:calc(100% + 4px);height:10px;position:absolute;bottom:0;left:-2px;background:var(--red);opacity:.1}
.topRightTextBox .reTop1120 #minYyyymm, .line1120_blue{position:relative;}
.topRightTextBox .reTop1120 #minYyyymm:after, .line1120_blue:after {content:'';display:inline-block;width:calc(100% + 4px);height:10px;position:absolute;bottom:0;left:-2px;background:var(--blue_100);opacity:.1}
.line1120_red span:first-child, .line1120_blue span:first-child{margin-right:4px}
.re_br1120 > span {display:block;}
.re_br1120 .trt_txt{font-size:14px;margin-bottom:4px}
.re_br1120 {margin-right:16px;}
.re_br1120:last-child {margin-right:0 !important;}

/*수정 0227*/
.setDate_txt0227{font-size:15px;font-weight:500;margin-top:5px;color:var(--mono_g7)}
td.up_p, td.down_p{position:relative;}
td.up_p:after{content:'';display:inline-block;width:14px;height:14px;background:url('/eatout/assets/eatout/images/icon/up_arrow_red.svg') no-repeat center center / 14px 14px;position:absolute;top:50%;right:10px;transform:translateY(-50%);}
td.down_p:after {content:'';display:inline-block;width:14px;height:14px;background:url('/eatout/assets/eatout/images/icon/down_arrow_mt.svg') no-repeat center center / 14px 14px;position:absolute;top:50%;right:10px;transform:translateY(-50%);}
.flex_0228 {display:flex;justify-content: start;align-items: center;}
.mb0 {margin-bottom:0 !important;}
.mb10 {margin-bottom:10px !important;}
.mb20 {margin-bottom:20px !important;}
div.setDate_txt0227.flex_0228 {margin-left:20px;margin-top:0;width:calc(100% - 220px);justify-content: space-between}
.data_text0228{color:var(--mono_wh);background:var(--pr_100);border-radius:4px;padding:4px 6px;display:inline-block;}
.mr_50 {margin-right:-50px}
#stat_center_title {font-size:14px;font-weight:400;color:var(--pr_120);padding-top:20px;}

@media screen and (max-width:1900px){
    .left_top_box {display:block;}
    .left_top_box .col-8.flex{margin-bottom:20px}
    .row.left_g_box > .flex {display:block;}
    .left_g_box .flex > div.col-2{width:100%}
    #admiUpjongInfo div.col-4.border.border-4 {width:100%}
    .swiper-slide {padding:10px}
    .slide_flex {display:block;clear:both;}
    .slide_txt03 {float:right;margin-top:4px}
    #chartList {width:95%;overflow-y:scroll}
    .market .right_box {overflow-y:scroll}
    .rt_bottomBox {height:auto;}
    .reTop_com1120 {display:flex;justify-content: start;}
}