<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zinidata.eatout.mapper.AgileFileMapper">

    <insert id="setFileUpload">
        insert into tbagile_filelist (file_ori_nm, file_path, file_nm, file_info, reg_date)
        values(#{fileOriNm}, #{filePath}, #{fileNm}, #{fileInfo}, now())
    </insert>

    <update id="setFileDelete">
        update tbagile_filelist
        set del_yn = 'Y'
        where file_no = #{fileNo}
    </update>

    <select id="getFileList" resultType="com.zinidata.eatout.vo.output.AgileFileOutVO">
        select file_no,file_ori_nm,file_path,file_nm,file_info,reg_date,(select count(1) from tbagile_filelist where del_yn = 'N') as total_cnt from tbagile_filelist
        where del_yn = 'N'
        order by file_no desc
        <if test="pageCnt > 0">
            limit #{pageCnt} offset #{pageNo}
        </if>
    </select>
</mapper>