<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zinidata.eatout.mapper.AgileStatisticsMapper">

    <!--  외식데이터 정보 호출  -->
    <select id="getOuteatList" resultType="com.zinidata.eatout.vo.output.AgileEatoutOutVO">
        --getOuteatList
        with tmp_date as(
            select
            <if test='dateType == "1"'>
                year,count(month) as cnt
            </if>
            <if test='dateType == "2"'>
                year,half,count(month) as cnt
            </if>
            <if test='dateType == "3"'>
                year,quarter,count(month) as cnt
            </if>
            <if test='dateType == "4"'>
                yyyymm,count(month) as cnt
            </if>
            from(
                select
                    substring(yyyymm::varchar,1,4) as year
                    , to_char(yyyymm,'MM')::numeric as month
                    ,to_char(yyyymm,'YYYYMM') as yyyymm
                    , date_part('QUARTER',yyyymm::timestamp) as quarter
                    , concat(substring(yyyymm::varchar,1,4),date_part('QUARTER',yyyymm::timestamp)) as check_quarter
                    <![CDATA[
                        , case when date_part('QUARTER',yyyymm::timestamp) <= 2 then 1 else 2 end half
                        , case when date_part('QUARTER',yyyymm::timestamp) <= 2 then concat(substring(yyyymm::varchar,1,4),1) else concat(substring(yyyymm::varchar,1,4),2) end check_half
                    ]]>
                from(
                    select to_date(yyyymm,'YYYYMM') as yyyymm from cmapap.tbss_ag_sum_sales_mega_his where 1=1 group by 1
                ) tmp
            ) tmp
            <if test='dateStart != null and dateEnd != null'>
                where 1=1
                <if test='dateType == "1"'>
                    and  year between #{dateStart} and #{dateEnd}
                </if>
                <if test='dateType == "2"'>
                    and check_half between #{dateStart} and #{dateEnd}
                </if>
                <if test='dateType == "3"'>
                    and check_quarter between #{dateStart} and #{dateEnd}
                </if>
                <if test='dateType == "4"'>
                    and yyyymm between to_char(to_date(#{dateStart},'YYYYMM'),'YYYYMM') and to_char(to_date(#{dateEnd},'YYYYMM'),'YYYYMM')
                </if>
            </if>
            group by
            <if test='dateType == "1"'>
                1
            </if>
            <if test='dateType == "2" || dateType == "3"'>
                1,2
            </if>
            <if test='dateType == "4"'>
                1
            </if>
        )
        select
        <if test='dateType == "1"'>
            concat(year,'년') as yyyymm
        </if>
        <if test='dateType == "2"'>
            concat(b.year,'년 ',
            case when b.half = '1' then '전반기' else '후반기' end
            ) as yyyymm
        </if>
        <if test='dateType == "3"'>
            concat(year,'년 ',b.quarter,'분기') as yyyymm
        </if>
        <if test='dateType == "4"'>
            b.yyyymm
        </if>
            , ROUND(((sum(sale_amt)/cnt)/10000),0) as sale_amt
            , ROUND(sum(store_cnt)/cnt,0) as store_cnt
            , ROUND(sum(use_cnt)/cnt,0) as use_cnt
            , ROUND(sum(cust_cnt)/cnt,0) as cust_cnt
            , ROUND((sum(sale_amt) / sum(store_cnt))/10000,0) as store_amt
            , ROUND(sum(sale_amt) / sum(use_cnt),0) as use_amt
            , ROUND(sum(cnt_m_10under + cnt_w_10under + cnt_m_1014 + cnt_w_1014 + cnt_m_1519 + cnt_w_1519 + cnt_m_2024 + cnt_w_2024 + cnt_m_2529 + cnt_w_2529)/cnt,0) as cnt_20under
            , ROUND(sum(cnt_m_3034 + cnt_w_3034 + cnt_m_3539 + cnt_w_3539)/cnt,0) as  cnt_30
            , ROUND(sum(cnt_m_4044 + cnt_w_4044 + cnt_m_4549 + cnt_w_4549)/cnt,0) as  cnt_40
            , ROUND(sum(cnt_m_5054 + cnt_w_5054 + cnt_m_5559 + cnt_w_5559)/cnt,0) as  cnt_50
            , ROUND(sum(cnt_m_6064 + cnt_w_6064 + cnt_m_6569 + cnt_w_6569 + cnt_m_7074 + cnt_w_7074 + cnt_m_7579 + cnt_w_7579 + cnt_m_8084 + cnt_w_8084 + cnt_m_8589 + cnt_w_8589+cnt_m_90over + cnt_w_90over)/cnt,0) as  cnt_60over
            , ROUND(sum(cnt_time_0609)/cnt,0) as  time_0609, ROUND(sum(cnt_time_0912)/cnt,0) as  time_0912, ROUND(sum(cnt_time_1215)/cnt,0) as  time_1215, ROUND(sum(cnt_time_1518)/cnt,0) as  time_1518
            , ROUND(sum(cnt_time_1821)/cnt,0) as  time_1821, ROUND(sum(cnt_time_2124)/cnt,0) as  time_2124, ROUND(sum(cnt_time_2406)/cnt,0) as  time_2406
            , ROUND(sum(cnt_mon)/cnt,0) as  mon , ROUND(sum(cnt_tue)/cnt,0) as  tue, ROUND(sum(cnt_wed)/cnt,0) as  wed, ROUND(sum(cnt_thu)/cnt,0) as  thu, ROUND(sum(cnt_fri)/cnt,0) as  fri, ROUND(sum(cnt_sat)/cnt,0) as  sat, ROUND(sum(cnt_sun)/cnt,0) as  sun
        from
        <if test='admGb == "1"'>
            cmapap.tbss_ag_sum_sales_mega_his a, tmp_date b, cmapap.tb_upjong3 c
        </if>
        <if test='admGb == "2"'>
            cmapap.tbss_ag_sum_sales_cty_his a, tmp_date b, cmapap.tb_upjong3 c
        </if>
        <if test='admGb == "3"'>
            cmapap.tbss_ag_sum_sales_admi_his a, tmp_date b, cmapap.tb_upjong3 c
        </if>
        where 1=1
        <if test='dateType == "1"'>
            and substring(a.yyyymm::varchar,1,4) = b.year
        </if>
        <if test='dateType == "2"'>
            and substring(a.yyyymm::varchar,1,4) = b.year
            <![CDATA[
                and (case when date_part('QUARTER',to_date(a.yyyymm,'YYYYMM')::timestamp) <= 2 then 1 else 2 end) = b.half
            ]]>
        </if>
        <if test='dateType == "3"'>
            and substring(a.yyyymm::varchar,1,4) = b.year
            and date_part('QUARTER',to_date(a.yyyymm,'YYYYMM')::timestamp) = b.quarter
        </if>
        <if test='dateType == "4"'>
            and a.yyyymm = b.yyyymm
        </if>
            and a.upjong3_cd = c.upjong3_cd
            and c.upjong3_cd not in ('Q02004','Q08002','Q08004')
        <if test='admGb == "1"'>
            <if test='areaCd != null'>
                and mega_cd like #{areaCd}||'%'
            </if>
        </if>
        <if test='admGb == "2"'>
            and cty_cd like #{areaCd}||'%'
        </if>
        <if test='admGb == "3"'>
            and admi_cd like #{areaCd}||'%'
        </if>
        <if test='upjongType == "1"'>
            and a.upjong3_cd like 'Q%'
        </if>
        <if test='upjongType == "2"'>
            and a.upjong3_cd like #{upjongCd}||'%'
        </if>
        <if test='upjongType == "3"'>
            and a.upjong3_cd like #{upjongCd}||'%'
        </if>
            and c.svc_yn = 'Y'
        group by
            1,cnt
        order by
            1
    </select>

    <!--  배달데이터 정보 호출  -->
    <select id="getDeliveryList" resultType="com.zinidata.eatout.vo.output.AgileDeliveryOutVO">
        --getDeliveryList
        with tmp_date as(
            select
            <if test='dateType == "1"'>
                year,count(month) as cnt
            </if>
            <if test='dateType == "2"'>
                year,half,count(month) as cnt
            </if>
            <if test='dateType == "3"'>
                year,quarter,count(month) as cnt
            </if>
            <if test='dateType == "4"'>
                yyyymm,count(month) as cnt
            </if>
            from(
                select
                    substring(yyyymm::varchar,1,4) as year
                    , to_char(yyyymm,'MM')::numeric as month
                    ,to_char(yyyymm,'YYYYMM') as yyyymm
                    , date_part('QUARTER',yyyymm::timestamp) as quarter
                    , concat(substring(yyyymm::varchar,1,4),date_part('QUARTER',yyyymm::timestamp)) as check_quarter
                    <![CDATA[
                        , case when date_part('QUARTER',yyyymm::timestamp) <= 2 then 1 else 2 end half
                        , case when date_part('QUARTER',yyyymm::timestamp) <= 2 then concat(substring(yyyymm::varchar,1,4),1) else concat(substring(yyyymm::varchar,1,4),2) end check_half
                    ]]>
                from(
                    select to_date(yyyymm,'YYYYMM') as yyyymm from cmapap.tbkb_sum_sales_mega_his where 1=1 group by 1
                ) tmp
            ) tmp
            <if test='dateStart != null and dateEnd != null'>
                where 1=1
                <if test='dateType == "1"'>
                    and year between #{dateStart} and #{dateEnd}
                </if>
                <if test='dateType == "2"'>
                    and check_half between #{dateStart} and #{dateEnd}
                </if>
                <if test='dateType == "3"'>
                    and check_quarter between #{dateStart} and #{dateEnd}
                </if>
                <if test='dateType == "4"'>
                    and yyyymm between to_char(to_date(#{dateStart},'YYYYMM'),'YYYYMM') and to_char(to_date(#{dateEnd},'YYYYMM'),'YYYYMM')
                </if>
            </if>
            group by
            <if test='dateType == "1"'>
                1
            </if>
            <if test='dateType == "2" || dateType == "3"'>
                1,2
            </if>
            <if test='dateType == "4"'>
                1
            </if>
        )
        select
        <if test='dateType == "1"'>
            concat(year,'년') as yyyymm
        </if>
        <if test='dateType == "2"'>
            concat(b.year,'년 ',
                case when b.half = '1' then '전반기' else '후반기' end
            ) as yyyymm
        </if>
        <if test='dateType == "3"'>
            concat(year,'년 ',b.quarter,'분기') as yyyymm
        </if>
        <if test='dateType == "4"'>
            b.yyyymm
        </if>
            , ROUND(((sum(sale_amt)/cnt)/10000),0) as sale_amt
            , ROUND(sum(store_cnt)/cnt,0) as store_cnt
            , ROUND(sum(use_cnt)/cnt,0) as use_cnt--, sum(cust_cnt) as cust_cnt
            , ROUND(((sum(sale_amt)/cnt) / (sum(store_cnt)/cnt))/10000,0) as store_amt
            , ROUND((sum(sale_amt)/cnt) / (sum(use_cnt)/cnt),0) as use_amt
            , ROUND(sum(cnt_m_20under + cnt_w_20under + cnt_m_2024 + cnt_w_2024 + cnt_m_2529 + cnt_w_2529)/cnt,0) as cnt_20under
            , ROUND(sum(cnt_m_3034 + cnt_w_3034 + cnt_m_3539 + cnt_w_3539)/cnt,0) as cnt_30
            , ROUND(sum(cnt_m_4044 + cnt_w_4044 + cnt_m_4549 + cnt_w_4549)/cnt,0) as cnt_40
            , ROUND(sum(cnt_m_5054 + cnt_w_5054 + cnt_m_5559 + cnt_w_5559)/cnt,0) as cnt_50
            , ROUND(sum(cnt_m_60over + cnt_w_60over)/cnt,0) as cnt_60over
            , ROUND(sum(cnt_time_0609)/cnt,0) as time_0609, ROUND(sum(cnt_time_0912)/cnt,0) as time_0912, ROUND(sum(cnt_time_1215)/cnt,0) as time_1215, ROUND(sum(cnt_time_1518)/cnt,0) as time_1518
            , ROUND(sum(cnt_time_1821)/cnt,0) as time_1821, ROUND(sum(cnt_time_2124)/cnt,0) as time_2124, ROUND(sum(cnt_time_2406)/cnt,0) as time_2406
            , ROUND(sum(cnt_mon)/cnt,0) as mon , ROUND(sum(cnt_tue)/cnt,0) as tue, ROUND(sum(cnt_wed)/cnt,0) as wed, ROUND(sum(cnt_thu)/cnt,0) as thu, ROUND(sum(cnt_fri)/cnt,0) as fri, ROUND(sum(cnt_sat)/cnt,0) as sat, ROUND(sum(cnt_sun)/cnt,0) as sun
        from
        <if test='admGb == "1"'>
            cmapap.tbkb_sum_sales_mega_his a, tmp_date b, cmapap.tb_upjong3 c
        </if>
        <if test='admGb == "2"'>
            cmapap.tbkb_sum_sales_cty_his a, tmp_date b, cmapap.tb_upjong3 c
        </if>
        where 1=1
            <if test='dateType == "1"'>
                and substring(a.yyyymm::varchar,1,4) = b.year
            </if>
            <if test='dateType == "2"'>
                and substring(a.yyyymm::varchar,1,4) = b.year
                <![CDATA[
                    and (case when date_part('QUARTER',to_date(a.yyyymm,'YYYYMM')::timestamp) <= 2 then 1 else 2 end) = b.half
                ]]>
            </if>
            <if test='dateType == "3"'>
                and substring(a.yyyymm::varchar,1,4) = b.year
                and date_part('QUARTER',to_date(a.yyyymm,'YYYYMM')::timestamp) = b.quarter
            </if>
            <if test='dateType == "4"'>
                and a.yyyymm = b.yyyymm
            </if>
            and a.upjong3_cd = c.upjong3_cd
            and c.upjong3_cd not in ('Q02004','Q08002','Q08004')
        <if test='admGb == "1"'>
            <if test='areaCd != null'>
            and mega_cd like #{areaCd}||'%'
            </if>
        </if>
        <if test='admGb == "2"'>
            and cty_cd like #{areaCd}||'%'
        </if>
        <if test='upjongType == "1"'>
            and a.upjong3_cd like 'Q%'
        </if>
        <if test='upjongType == "2"'>
            and a.upjong3_cd like #{upjongCd}||'%'
        </if>
        <if test='upjongType == "3"'>
            and a.upjong3_cd like #{upjongCd}||'%'
        </if>
            and svc_yn = 'Y'
        group by
            1,cnt
        order by
            1
    </select>

    <!--  Pos데이터 정보 호출  -->
    <select id="getPosList" resultType="com.zinidata.eatout.vo.output.AgilePosOutVO">
        --getPosList
        with tmp_date as(
            select
                <if test='dateType != "5"'>
                    yyyymm,
                </if>
                <if test='dateType == "5"'>
                    yyyymm,week,
                </if>
                count(yyyymm) as cnt
            from(
                select
                    year,half,quarter,yyyymm,week
                    ,concat(year,half) as check_half
                    ,concat(year,quarter) as check_quarter
                    ,concat(yyyymm,week) as check_week
                from cmapap.tbagile_pos_date
            ) tmp
            where 1=1
                <if test='dateStart != null and dateEnd != null'>
                    <if test='dateType == "1"'>
                        and year between #{dateStart} and #{dateEnd}
                    </if>
                    <if test='dateType == "2"'>
                        and check_half between #{dateStart} and #{dateEnd}
                    </if>
                    <if test='dateType == "3"'>
                        and check_quarter between #{dateStart} and #{dateEnd}
                    </if>
                    <if test='dateType == "4"'>
                        and yyyymm between to_char(to_date(#{dateStart},'YYYYMM'),'YYYYMM') and to_char(to_date(#{dateEnd},'YYYYMM'),'YYYYMM')
                    </if>
                    <if test='dateType == "5"'>
                        and check_week between #{dateStart} and #{dateEnd}
                    </if>
                </if>
            group by
            <if test='dateType != "5"'>
                1
            </if>
            <if test='dateType == "5"'>
                1,2
            </if>
        )
        select
            <if test='dateType == "1"'>
                concat(substring(a.sale_mm,1,4),'년') as yyyymm
            </if>
            <if test='dateType == "2"'>
                concat(substring(a.sale_mm,1,4),'년 ',
                <![CDATA[
                        case when date_part('QUARTER',to_date(a.sale_mm,'YYYYMM')::timestamp) <= 2 then '전반기' else '후반기' end
                    ]]>
                ) as yyyymm
            </if>
            <if test='dateType == "3"'>
                concat(substring(a.sale_mm,1,4),'년 ',date_part('QUARTER',to_date(a.sale_mm,'YYYYMM')::timestamp),'분기') as yyyymm
            </if>
            <if test='dateType == "4"'>
                concat(substring(a.sale_mm,1,4),'년 ',substring(a.sale_mm,5,2),'월') as yyyymm
            </if>
            <if test='dateType == "5"'>
                concat(substring(a.sale_mm,1,4),'년',substring(a.sale_mm,5,2),'월 ',a.week,'주차') as yyyymm
            </if>
            ,ROUND(avg(sale_qty),0) as sale_qty, ROUND(avg(tot_sale_amt)/10000,0) as tot_sale_amt
            ,ROUND(avg(b.store_cnt),0) as store_cnt
        from(
            select
                <if test='dateType != "5"'>
                    a.sale_mm
                </if>
                <if test='dateType == "5"'>
                    a.sale_mm,a.week
                </if>
                ,count(1) as cnt
                <if test='dateType != "5"'>
                    ,sum(sale_qty)/x.cnt as sale_qty,sum(tot_sale_amt)/x.cnt as tot_sale_amt
                </if>
                <if test='dateType == "5"'>
                    ,sum(sale_qty) as sale_qty,sum(tot_sale_amt) as tot_sale_amt
                </if>
            from
                cmapap.tbagile_pos_info a, tmp_date x
            where 1=1
                and a.sale_mm = x.yyyymm
                <if test='dateType == "5"'>
                    and a.week = x.week::numeric
                </if>
                <if test='areaCd != null'>
                    <if test='admGb == "1"'>
                        and a.admi_cd like #{areaCd}||'%'
                    </if>
                    <if test='admGb == "2"'>
                        and a.admi_cd like #{areaCd}||'%'
                    </if>
                </if>
                <if test='menuCd != null'>
                    <if test='menuType == "1"'>
                        and a.menu3_cd like #{menuCd}||'%'
                    </if>
                    <if test='menuType == "2"'>
                        and a.menu3_cd like #{menuCd}||'%'
                    </if>
                    <if test='menuType == "3"'>
                        and a.menu3_cd like #{menuCd}||'%'
                    </if>
                </if>
            group by
            <if test='dateType != "5"'>
                1,x.cnt
            </if>
            <if test='dateType == "5"'>
                1,2
            </if>
        ) a,(
            select
            <if test='dateType != "5"'>
                sale_mm
            </if>
            <if test='dateType == "5"'>
                sale_mm,week
            </if>
                 ,count(shop_cd) as store_cnt
            from(
                select
                <if test='dateType != "5"'>
                    sale_mm
                </if>
                <if test='dateType == "5"'>
                    sale_mm,week
                </if>
                    ,shop_cd
                from(
                    select
                    <if test='dateType != "5"'>
                        a.sale_mm
                    </if>
                    <if test='dateType == "5"'>
                        a.sale_mm,a.week
                    </if>
                        ,shop_cd
                    from
                        cmapap.tbagile_pos_info a, tmp_date b
                    where
                        a.sale_mm = b.yyyymm
                         <if test='dateType == "5"'>
                         and a.week = b.week
                         </if>
                    <if test='areaCd != null'>
                         <if test='admGb == "1"'>
                             and a.admi_cd like #{areaCd}||'%'
                         </if>
                         <if test='admGb == "2"'>
                             and a.admi_cd like #{areaCd}||'%'
                         </if>
                    </if>
                    <if test='menuCd != null'>
                         <if test='menuType == "1"'>
                             and a.menu3_cd like #{menuCd}||'%'
                         </if>
                         <if test='menuType == "2"'>
                             and a.menu3_cd like #{menuCd}||'%'
                         </if>
                         <if test='menuType == "3"'>
                             and a.menu3_cd like #{menuCd}||'%'
                         </if>
                    </if>
                    group by
                    <if test='dateType != "5"'>
                        1,2
                    </if>
                    <if test='dateType == "5"'>
                        1,2,3
                    </if>
                ) as tmp
                group by
                <if test='dateType != "5"'>
                    1,2
                </if>
                <if test='dateType == "5"'>
                    1,2,3
                </if>
            ) as tmp
            group by
            <if test='dateType != "5"'>
                1
            </if>
            <if test='dateType == "5"'>
                1,2
            </if>
        ) b
        where 1=1
            and a.sale_mm = b.sale_mm
            <if test='dateType == "5"'>
                and a.week = b.week
            </if>
        group by
            1
   </select>

    <!--  생활인구데이터 정보 호출  -->
    <select id="getLiviList" resultType="com.zinidata.eatout.vo.output.AgileLiviOutVO">
        --getLiviList
        with tmp_date as(
            select
                <if test='dateType == "1"'>
                    year,count(month) as cnt
                </if>
                <if test='dateType == "2"'>
                    year,half,count(month) as cnt
                </if>
                <if test='dateType == "3"'>
                    year,quarter,count(month) as cnt
                </if>
                <if test='dateType == "4"'>
                    yyyymm,count(month) as cnt
                </if>
            from(
                select
                    substring(yyyymm::varchar,1,4) as year
                    , to_char(yyyymm,'MM')::numeric as month
                    ,to_char(yyyymm,'YYYYMM') as yyyymm
                    , date_part('QUARTER',yyyymm::timestamp) as quarter
                    , concat(substring(yyyymm::varchar,1,4),date_part('QUARTER',yyyymm::timestamp)) as check_quarter
                    <![CDATA[
                        , case when date_part('QUARTER',yyyymm::timestamp) <= 2 then 1 else 2 end half
                        , case when date_part('QUARTER',yyyymm::timestamp) <= 2 then concat(substring(yyyymm::varchar,1,4),1) else concat(substring(yyyymm::varchar,1,4),2) end check_half
                    ]]>
                from(
                    select to_date(yyyymm,'YYYYMM') as yyyymm
                    <if test='admGb == "1"'>
                        from cmapap.tbpop_livi_mega_his
                    </if>
                    <if test='admGb == "2"'>
                        from cmapap.tbpop_livi_cty_his
                    </if>
                    <if test='admGb == "3"'>
                        from cmapap.tbpop_livi_admi_his
                    </if>
                    where 1=1
                    <if test='admGb == "1"'>
                        <if test='areaCd != null'>
                            and mega_cd like #{areaCd}||'%'
                        </if>
                    </if>
                    <if test='admGb == "2"'>
                        and cty_cd like #{areaCd}||'%'
                    </if>
                    <if test='admGb == "3"'>
                        and admi_cd like #{areaCd}||'%'
                    </if>
                    group by 1
                ) tmp
            ) tmp
            <if test='dateStart != null and dateEnd != null'>
                where 1=1
                <if test='dateType == "1"'>
                    and year between #{dateStart} and #{dateEnd}
                </if>
                <if test='dateType == "2"'>
                    and check_half between #{dateStart} and #{dateEnd}
                </if>
                <if test='dateType == "3"'>
                    and check_quarter between #{dateStart} and #{dateEnd}
                </if>
                <if test='dateType == "4"'>
                    and yyyymm between to_char(to_date(#{dateStart},'YYYYMM'),'YYYYMM') and to_char(to_date(#{dateEnd},'YYYYMM'),'YYYYMM')
                </if>
            </if>
            group by
            <if test='dateType == "1"'>
                1
            </if>
            <if test='dateType == "2" || dateType == "3"'>
                1,2
            </if>
            <if test='dateType == "4"'>
                1
            </if>
        )
        select
        <if test='dateType == "1"'>
            concat(year,'년') as yyyymm
        </if>
        <if test='dateType == "2"'>
            concat(b.year,'년 ',
                case when b.half = '1' then '전반기' else '후반기' end
            ) as yyyymm
        </if>
        <if test='dateType == "3"'>
            concat(year,'년 ',b.quarter,'분기') as yyyymm
        </if>
        <if test='dateType == "4"'>
            b.yyyymm
        </if>
            , ROUND(sum(pop)/cnt) as pop
            , ROUND(sum(pop_m_20s_under)/cnt,0) as m_20_under
            , ROUND(sum(pop_m_30s)/cnt,0) as m_30
            , ROUND(sum(pop_m_40s)/cnt,0) as m_40
            , ROUND(sum(pop_m_50s)/cnt,0) as m_50
            , ROUND(sum(pop_m_60s_over)/cnt,0) as m_60_over
            , ROUND(sum(pop_w_20s_under)/cnt,0) as w_20_under
            , ROUND(sum(pop_w_30s)/cnt,0) as w_30
            , ROUND(sum(pop_w_40s)/cnt,0) as w_40
            , ROUND(sum(pop_w_50s)/cnt,0) as w_50
            , ROUND(sum(pop_w_60s_over)/cnt,0) as w_60_over
            , ROUND(sum(pop_time_0006)/cnt,0) as time_0006, ROUND(sum(pop_time_0609)/cnt,0) as time_0609, ROUND(sum(pop_time_0912)/cnt,0) as time_0912,ROUND(sum(pop_time_1215)/cnt,0) as time_1215
            , ROUND(sum(pop_time_1518)/cnt,0) as time_1518, ROUND(sum(pop_time_1821)/cnt,0) as time_1821, ROUND(sum(pop_time_2124)/cnt,0) as time_2124
            , ROUND(sum(pop_mon)/cnt,0) as pop_mon, ROUND(sum(pop_tue)/cnt,0) as pop_tue, ROUND(sum(pop_wed)/cnt,0) as pop_wed, ROUND(sum(pop_thu)/cnt,0) as pop_thu, ROUND(sum(pop_fri)/cnt,0) as pop_fri, ROUND(sum(pop_sat)/cnt,0) as pop_sat, ROUND(sum(pop_sun)/cnt,0) as pop_sun
        from
        <if test='admGb == "1"'>
            cmapap.tbpop_livi_mega_his a, tmp_date b
        </if>
        <if test='admGb == "2"'>
            cmapap.tbpop_livi_cty_his a, tmp_date b
        </if>
        <if test='admGb == "3"'>
            cmapap.tbpop_livi_admi_his a, tmp_date b
        </if>
        where 1=1
        <if test='dateType == "1"'>
            and substring(a.yyyymm::varchar,1,4) = b.year
        </if>
        <if test='dateType == "2"'>
            and substring(a.yyyymm::varchar,1,4) = b.year
            <![CDATA[
            and (case when date_part('QUARTER',to_date(a.yyyymm,'YYYYMM')::timestamp) <= 2 then 1 else 2 end) = b.half
            ]]>
        </if>
        <if test='dateType == "3"'>
            and substring(a.yyyymm::varchar,1,4) = b.year
            and date_part('QUARTER',to_date(a.yyyymm,'YYYYMM')::timestamp) = b.quarter
        </if>
        <if test='dateType == "4"'>
            and a.yyyymm = b.yyyymm
        </if>
        <if test='admGb == "1"'>
            <if test='areaCd != null'>
                and mega_cd like #{areaCd}||'%'
            </if>
        </if>
        <if test='admGb == "2"'>
            and cty_cd like #{areaCd}||'%'
        </if>
        <if test='admGb == "3"'>
            and admi_cd like #{areaCd}||'%'
        </if>
        group by
            1,cnt
        order by
            1
    </select>

    <!--  주거인구데이터 정보 호출  -->
    <select id="getHousList" resultType="com.zinidata.eatout.vo.output.AgileHousOutVO">
        --getHousList
        with tmp_date as(
            select
                year,max(half) as half
            from(
                select
                    substring(yyyymm::varchar,1,4) as year
                    <![CDATA[
                        , case when date_part('QUARTER',yyyymm::timestamp) <= 2 then 1 else 2 end half
                    ]]>
                from(
                    select to_date(yyyymm,'YYYYMM') as yyyymm
                    <if test='admGb == "1"'>
                        from cmapap.tbpop_hous_mega_his
                    </if>
                    <if test='admGb == "2"'>
                        from cmapap.tbpop_hous_cty_his
                    </if>
                    <if test='admGb == "3"'>
                        from cmapap.tbpop_hous_admi_his
                    </if>
                    where 1=1
                    <if test='areaCd != null'>
                        <if test='admGb == "1"'>
                            and mega_cd like #{areaCd}||'%'
                        </if>
                        <if test='admGb == "2"'>
                            and cty_cd like #{areaCd}||'%'
                        </if>
                        <if test='admGb == "3"'>
                            and admi_cd like #{areaCd}||'%'
                        </if>
                    </if>
                    group by 1
                ) tmp
            ) tmp
            <if test='dateStart != null and dateEnd != null'>
                where 1=1
                <if test='dateType == "1"'>
                    and year between #{dateStart} and #{dateEnd}
                </if>
                <if test='dateType == "2"'>
                    and check_half between #{dateStart} and #{dateEnd}
                </if>
                <if test='dateType == "3"'>
                    and check_quarter between #{dateStart} and #{dateEnd}
                </if>
                <if test='dateType == "4"'>
                    and yyyymm between to_char(to_date(#{dateStart},'YYYYMM'),'YYYYMM') and to_char(to_date(#{dateEnd},'YYYYMM'),'YYYYMM')
                </if>
                <if test='dateType == "5"'>
                    and check_quarter between #{dateStart} and #{dateEnd}
                </if>
            </if>
            group by
                1
        )
        select
        <if test='dateType == "1"'>
            concat(year,'년') as yyyymm
        </if>
        <if test='dateType == "2"'>
            concat(b.year,'년 ',
                case when b.half = '1' then '전반기' else '후반기' end
            ) as yyyymm
        </if>
        <if test='dateType == "3"'>
            concat(year,'년 ',b.quarter,'분기') as yyyymm
        </if>
        <if test='dateType == "4"'>
            b.yyyymm
        </if>
            , ROUND(sum(pop)/max(b.half),0) as pop
            , ROUND(sum(pop_m_20under)/max(b.half),0) as m_20_under
            , ROUND(sum(pop_m_20s)/max(b.half),0) as m_20
            , ROUND(sum(pop_m_30s)/max(b.half),0) as m_30
            , ROUND(sum(pop_m_40s)/max(b.half),0) as m_40
            , ROUND(sum(pop_m_50s)/max(b.half),0) as m_50
            , ROUND(sum(pop_m_60over)/max(b.half),0) as m_60_over
            , ROUND(sum(pop_w_20under)/max(b.half),0) as w_20_under
            , ROUND(sum(pop_w_20s)/max(b.half),0) as w_20
            , ROUND(sum(pop_w_30s)/max(b.half),0) as w_30
            , ROUND(sum(pop_w_40s)/max(b.half),0) as w_40
            , ROUND(sum(pop_w_50s)/max(b.half),0) as w_50
            , ROUND(sum(pop_w_60over)/max(b.half),0) as w_60_over
        from
        <if test='admGb == "1"'>
            cmapap.tbpop_hous_mega_his a, tmp_date b
        </if>
        <if test='admGb == "2"'>
            cmapap.tbpop_hous_cty_his a, tmp_date b
        </if>
        <if test='admGb == "3"'>
            cmapap.tbpop_hous_admi_his a, tmp_date b
        </if>
        where 1=1
        and substring(a.yyyymm,1,4) = b.year
        <if test='areaCd != null'>
            <if test='admGb == "1"'>
                    and mega_cd like #{areaCd}||'%'
            </if>
            <if test='admGb == "2"'>
                and cty_cd like #{areaCd}||'%'
            </if>
            <if test='admGb == "3"'>
                and admi_cd like #{areaCd}||'%'
            </if>
        </if>
        group by
            1
        order by
            1
    </select>

    <!--  생활인구데이터 정보 호출  -->
    <select id="getUpjongChgRate" resultType="com.zinidata.eatout.vo.output.AgileUpjongChgRateOutVO">
        --getUpjongChgRate
        select
            upjong3_nm,upjong3_cd, ROUND(((sale_amt_to - sale_amt_be)/sale_amt_to *100),2) as calc_per
             ,ROUND((sale_amt_to / 10000),0) as sale_amt
        from(
                select
                    a.yyyymm,a.upjong3_cd,a.upjong3_nm,a.sale_amt as sale_amt_be, b.sale_amt as sale_amt_to
                from(
                        select
                            yyyymm,b.upjong3_nm, a.upjong3_cd, sum(sale_amt) as sale_amt
                        from
                            cmapap.tbss_ag_sum_sales_mega_his a, cmapap.tb_upjong3 b
                        where 1=1
                            and a.upjong3_cd = b.upjong3_cd
                            and yyyymm = to_char(to_date((select max(yyyymm) from cmapap.tbss_ag_sum_sales_mega_his),'YYYYMM') + interval '-1 month','YYYYMM')
                            and a.upjong3_cd like 'Q%'
                            and b.svc_yn = 'Y'
                        group by
                            yyyymm,b.upjong3_nm, a.upjong3_cd
                    ) a,(
                        select
                            yyyymm,b.upjong3_nm, a.upjong3_cd, sum(sale_amt) as sale_amt
                        from
                            cmapap.tbss_ag_sum_sales_mega_his a, cmapap.tb_upjong3 b
                        where 1=1
                            and a.upjong3_cd = b.upjong3_cd
                            and yyyymm = (select max(yyyymm) from cmapap.tbss_ag_sum_sales_mega_his)
                            and a.upjong3_cd like 'Q%'
                            and b.svc_yn = 'Y'
                        group by
                            yyyymm,b.upjong3_nm, a.upjong3_cd
                    ) b
                where 1=1
                  and a.upjong3_cd = b.upjong3_cd
                  and a.upjong3_nm = b.upjong3_nm
            ) tmp
        order by sale_amt desc
    </select>
</mapper>