/*input*/
input.default{width:335px;height:50px;padding:14px 16px;border:1px solid var(--mono_g3);border-radius:4px;color:var(--mono_g9)}
input.default::placeholder{color:var(--mono_g7)}
input.default:hover{border:1px solid var(--pri_2);}
input.default.active, input.default:focus{border:1px solid var(--pri_5);}
input.default.disabled{background:var(--mono_bg);color:var(--mono_g5);border:1px solid var(--mono_bg);pointer-events: none;}
input.default.error {border:1px solid var(--error_2);}

/*checkbox*/
/*####check square small####*/
input[type="checkbox"]{display: none;}
.ck_squareSmall input[type="checkbox"] + label{display: inline-block;position:relative;}
.ck_squareSmall input[type="checkbox"] + label span {margin-left:26px;}
.ck_squareSmall input[type="checkbox"] + label:before{content:'';width:18px;height:18px;background:var(--mono_g2);border-radius:4px;position:absolute;top:2px;left:0}
.ck_squareSmall input[type="checkbox"]:checked + label:after{content:'';background:var(--pri_5) url('/design/assets/design/images/icon/wh_check.svg') no-repeat center center / 12px 10px;position:absolute;top:2px;left:0;width:18px;height:18px;border-radius:4px;}

/*radio*/
.ck_roundSmall {position: relative;}
.ck_roundSmall input[type="radio"] { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0; }
.ck_roundSmall input[type="radio"] + label { display: inline-block; position: relative; padding-left: 26px; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; }
.ck_roundSmall input[type="radio"] + label:before { content: ''; position: absolute; left: 0; top: 0; width: 15px; height: 15px; text-align: center; background:var(--mono_wh); border-radius: 50%; border:2px solid var(--mono_g3)}
.ck_roundSmall input[type="radio"]:checked + label:after { content: ''; position: absolute; top:0; left: 0; width: 6px; height: 6px; background: var(--mono_wh); border-radius: 50%;border:6px solid var(--pri_5)}

/*select box*/
.select_field_small {position:relative;width:100%;cursor:pointer;}
.select_field_small .selectTit {padding:10px 12px;border:1px solid var(--mono_g1);border-radius:4px;}
.select_field_small .selectTit:after {content:'';display:inline-block;width:18px;height:18px;background:url('/design/assets/design/images/icon/select_arrow.svg') no-repeat;position:absolute;top:12px;right:10px;transition:.5s}
.select_field_small .selectTit:hover{border:1px solid var(--pri_2);}
.select_field_small .selectTit.active{border:1px solid var(--pri_6);}
.select_field_small .selectTit.active span{color:var(--mono_g9);}
.select_field_small .selectTit.active:after{content:'';transform:rotate(180deg);transition:.5s}
.select_field_small .selectTit.disabled{background:var(--mono_bg);border:1px solid var(--mono_bg);pointer-events: none;}
.select_field_small .selectTit.disabled:after{content:'';background:url('/design/assets/design/images/icon/select_arrow_disabled.svg') no-repeat;}
.select_field_small .selectTit.disabled span {color:var(--mono_g5)}
.select_field_small .selectTit.error {border:1px solid var(--error_1)}
.select_field_small .selectTit.error span {color:var(--mono_g9)}
.select.select_field_small .select_listBox{position:absolute;top:48px;left:0;width:100%;padding:4px;background:var(--mono_wh);border-radius:4px;border:1px solid var(--mono_g1);}
.select_listBox{overflow:hidden;}
.select_listBox ul {overflow-y:scroll;max-height:140px}
.select_listBox ul::-webkit-scrollbar{background:none;width:4px;}
.select_listBox ul::-webkit-scrollbar-thumb{background:var(--mono_g4);border-radius:999px;width:4px;}
.select_listBox li{padding:12px 20px;max-width:150px;word-break:break-word}
.select_listBox li:hover, .select_listBox li.active{color:var(--pri_5);background:var(--pri_bg);}
.select_listBox {display:none;}
