@media all and (max-width:1600px){
    .com_gridInner {width:100%;padding:40px 60px 0 60px}
    .topHeaderInner {width:calc(100% - 110px)}
    .foot{width:100%}
    .mo_table {overflow-x: scroll}
    .admin_table{min-width:1080px;}
    .admin_table tr, .admin_table td {font-size:13px;}
    .statistics .print_btn {right:60px}
    .real_cont01_tit, .loanList_iconBox {display:block;}
    .real_cont01_tit p.txt_l_m, .loanList_iconBox p.txt_l_m {margin-top:10px;}
    .real_contBox{padding:8px;}
    .cal_popupCont {left:20vw}



}

@media all and (max-width:1280px){
    .side_tab {width:220px;}
    .topHeader {width:calc(100% - 220px);}
    .topHeaderInner{width:calc(100% - 220px);}
    .com_gridBox, .footer {width:calc(100% - 220px);margin-left:220px;}
    .foot{width:100%}
    .sec3_select.diff .card_tit.hd4{font-size:15px}
    .cal_popupCont {left:14vw}
    .simpleAreaInner ul {display:unset}
    .simpleAreaInner ul li {width:100%}


}

@media all and (max-width:1200px){
    .side_tab {width:180px;}
    .topHeaderInner{width:calc(100% - 280px);}
    .topHeader {width:calc(100% - 180px);}
    .com_gridBox, .footer {width:calc(100% - 180px);margin-left:180px;}
    .foot{width:100%}
    .side_logo{padding:10px}
    .side_listBox li{padding: 12px 16px;}
    .hd1{font-size: 32px;}
    .hd2_bd{font-size: 24px;}
    .hd2{font-size: 24px;}
    .hd3{font-size: 22px;}
    .hd4{font-size: 18px;word-break:keep-all}

    .txt_exlsb{font-size:16px;}
    .txt_exlm{font-size:16px;}
    .txt_exl{font-size:16px;}

    .label_m{font-size: 12px;}
    .label_sb{font-size: 12px;}

    .txt_l{font-size: 14px;}
    .txt_l_m{font-size: 14px;}
    .txt_l_sb{font-size: 14px;}
    .main_banner > div {padding:40px 0 40px 48px;}
    label, .flowpop_chart_txtCont p{font-size:12px;}

    .icon_txtBox{display:block;}
    .flp_txt01{margin-left:0px;margin-top:8px;display:block;}
    .chart05_02_table span.color_mk {margin-left:0;display:block;margin-bottom:10px}
    .mo_br {display:block;}
    .ind_chart02Box {position:relative;}
    .ind_chart02Box div.flex{display:block !important;}
    .ind_chart02Box div.flex > div.po_r {width:50%;display:inline-block !important;float:left;clear:both;}
    .ind_chart02Box .chart05_02_table{width:45%;margin-left:0;position:absolute;top:0;right:0}
    .chartChangeTab button, .mapChangeTab .sec_defaultBtn, .mapChangeTab button {font-size:12px;padding:8px 12px}
    .flowpop_chart_txtCont p span {font-size:12px;}

}

@media all and (max-width:1140px){
    .cal_0531 .sm_chart .card_txt.pop span.txt_n.fr {margin-top:4px;}

    .searchBox {display:block;}
    .areaSearch input {width:100%;margin-top:10px;}
    .areaSearch:after{top:40%}
    .search_at_txt {top:54px}
    .cal_popupCont {left:10vw}
}

@media all and (max-width:1550px){
    .section3Inner .card_box_g.mt30 .card_topBox{display:block;}
    .section3Inner .card_box_g.mt30 .card_topBox .sec3_select.diff{display:flex;margin-bottom:10px}
    .section3Inner .card_box_g.mt30 .card_topBox button.elect_diff {width:50%;transform:translateX(50%);margin-top:20px;}
    .main_txtS_0622 {display:inline-block;}
    .section3Inner .card_box_g.mt30 .card_topBox .sec3_select.diff0622{margin-left:176px;}
    .simpleIndustryBox .simpleInd_center.active {display:block !important;}
    .simpleIndustryBox .simpleInd_center .w60p {width:100% !important;margin:20px 0}
    .simpleInd_dotList {width:100%}

    #simple_area .simpleAreaInner ul {display:block !important;}
    #simple_area .simpleAreaInner ul li {width:100% !important;}
}