@font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    font-display: swap;
    src: local('Pretendard Black'), url('../fonts/woff2/Pretendard-Black.woff2') format('woff2'), url('../fonts/woff/Pretendard-Black.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    font-display: swap;
    src: local('Pretendard ExtraBold'), url('../fonts/woff2/Pretendard-ExtraBold.woff2') format('woff2'), url('../fonts/woff/Pretendard-ExtraBold.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-display: swap;
    src: local('Pretendard Bold'), url('../fonts/woff2/Pretendard-Bold.woff2') format('woff2'), url('../fonts/woff/Pretendard-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    font-display: swap;
    src: local('Pretendard SemiBold'), url('../fonts/woff2/Pretendard-SemiBold.woff2') format('woff2'), url('../fonts/woff/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-display: swap;
    src: local('Pretendard Medium'), url('../fonts/woff2/Pretendard-Medium.woff2') format('woff2'), url('../fonts/woff/Pretendard-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-display: swap;
    src: local('Pretendard Regular'), url('../fonts/woff2/Pretendard-Regular.woff2') format('woff2'), url('../fonts/woff/Pretendard-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    font-display: swap;
    src: local('Pretendard Light'), url('../fonts/woff2/Pretendard-Light.woff2') format('woff2'), url('../fonts/woff/Pretendard-Light.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 200;
    font-display: swap;
    src: local('Pretendard ExtraLight'), url('../fonts/woff2/Pretendard-ExtraLight.woff2') format('woff2'), url('../fonts/woff/Pretendard-ExtraLight.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 100;
    font-display: swap;
    src: local('Pretendard Thin'), url('../fonts/woff2/Pretendard-Thin.woff2') format('woff2'), url('../fonts/woff/Pretendard-Thin.woff') format('woff');
}

.hd1{font-size:36px;font-weight:700;line-height:140%;color:var(--mono_b);}
.hd2{font-size:28px;font-weight:700;line-height:140%;color:var(--mono_b);}
.hd2_bd{font-size:28px;font-weight:600;line-height:140%;color:var(--mono_b);}
.hd3{font-size:24px;font-weight:600;line-height:140%;color:var(--mono_b);}
.hd4{font-size:20px;font-weight:600;line-height:140%;color:var(--mono_b);}

.txt_exlm {font-size:18px;font-weight:500;line-height:120%;color:var(--mono_b);}
.txt_exl {font-size:18px;font-weight:400;line-height:120%;color:var(--mono_b);}
.label_m {font-size:14px;font-weight:500;line-height:120%;color:var(--mono_g9);}
.label_sb {font-size:14px;font-weight:700;line-height:120%;color:var(--mono_g9);}
.txt_l {font-size:16px;font-weight:400;line-height:140%;color:var(--mono_g9);}
.txt_l_m {font-size:16px;font-weight:500;line-height:140%;color:var(--mono_g9);}
.txt_l_sb {font-size:16px;font-weight:700;line-height:140%;color:var(--mono_g9);}
.txt_n {font-size:14px;font-weight:400;line-height:140%;color:var(--mono_g9);}
.txt_n_m {font-size:14px;font-weight:500;line-height:140%;color:var(--mono_g9);}
.txt_n_sb {font-size:14px;font-weight:700;line-height:120%;color:var(--mono_g9);}
.txt_s_m {font-size:12px;font-weight:500;line-height:120%;color:var(--mono_g9);}
.txt_s_sb {font-size:12px;font-weight:700;line-height:120%;color:var(--mono_g9);}
.chip_txt_s_m{font-size:13px;font-weight:500;line-height:120%;color:var(--mono_g9)}
.txt_exlsb {font-size:18px;font-weight:600;line-height:120%;color:var(--mono_b);}
.txt_x_s {font-size:10px;font-weight:500;line-height:120%;color:var(--mono_g9)}