/*header*/
nav {position:fixed;top:0;left:241px;width:100%;background:var(--mono_wh)}
.nav {height:72px;width:100%;border-bottom:1px solid var(--gray_50);}
nav ul {display:flex;justify-content: start;align-items: center;height:100%;overflow:hidden;}
nav li {height:100%;display:flex;justify-content: start;align-items: center;cursor:pointer;}

/*side*/
.side {width:240px;height:100vh;position:fixed;top:0;left:0;box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.07), 0 0 2px 0 rgba(0, 0, 0, 0.07);}
.sideTit {font-size:18px;font-weight:900;line-height:140%;color:var(--gray_800);}

/*상세내용*/
.contInner {width:calc(100% - 240px);float: right;margin-top:72px;}
.sideTabTitleBox {padding:56px 180px 32px 180px;}
.sideTabTitle {font-size:36px;font-weight:700;line-height:134%;letter-spacing: -0.18px;margin-bottom:16px;}
.sideTabTxt {font-size:18px;font-weight:500;line-height:158%;letter-spacing: -0.18px;color:var(--gray_600)}
.subTabChangeTab {border-bottom:1px solid var(--gray_50)}
.subTabChangeTab ul{height:auto;overflow:hidden;display:flex;justify-content: start;align-items: center;padding:0 180px;}
.subTabChangeTab li {font-size:14px;font-weight:500;line-height:168%;letter-spacing: -0.28px;color:var(--gray_800);padding:14px 18px 14px 0}
.includeContent {padding:40px 180px;}
.subCommonTitle {font-size:36px;font-weight:700;line-height:134%;letter-spacing: -0.18px;margin-bottom:16px;}
.subCommonText {font-size:16px;font-weight:400;line-height:160%;color:var(--gray_600)}

.typo_table {text-align:center;}
.typo_table tr{clear:both;border-bottom:1px solid var(--gray_50)}
.typo_table tr th {font-size:14px;font-weight:500;line-height:168%;letter-spacing: -0.28px;color:var(--gray_800);padding:16px 0;background:var(--gray_100)}
.typo_table td {font-size:18px;font-weight:600;line-height:168%;letter-spacing: -0.36px;padding:36px 0}
.typo_table td:nth-child(2) p{float:left;position:relative;margin-right:13px;}
.typo_table td:nth-child(2) p:last-child{margin-right:0;}
.typo_table td:nth-child(2) p:after {content:'/';display:inline-block;font-size:14px;color:var(--gray_400);position:absolute;top:50%;right:-9px;transform:translateY(-50%);}
.typo_table td:nth-child(2) p:last-child:after{display:none;}
.typo_table >
